@{
    ViewBag.Title = "Checkout Complete";
}

<h2>Checkout Complete</h2>

<p>Thank you for shopping with us. We'd like to let you know Mamazon has received your order, and is preparing it for shipment. Your estimated delivery data is below. If you'd like to view the status of your order or make any chnages to it, please visit @Html.ActionLink("Orders", "Index", "Orders")</p>

<p>How about shopping for some more music in our 
    @Html.ActionLink("store", "Index", "Home")
</p>